body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.jobs-button {
  padding: 20px;
  font-size: 10px;
  background-color: #4286f4;
  color: #fff;
  border: none;
  cursor: pointer;
align-items: center;
  transition: background-color 0.3s;
  width: 10px;
  height: 3px;
}

.jobs-button:hover {
  background-color: #555;
}

.jobs-container {
  text-align: center;
  margin-top: 50px;
}
/* Style the sections */
section {
    padding: 5px;
    background-color: aliceblue;
    justify-content: space-between;
    display: flex;
}

/* Style the heading */
h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
    padding: 10;
}


img {
    width: 100px;
    height: auto;
}

/* Style the navigation links */
ul.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.links li {
    display: inline;
}

ul.links li a {
    display: inline-flex;
    
    color: #15ac5c;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 50px;
}

ul.links li a:hover {
    background-color: #333;
    color: #fff;
}
.hhh{ 
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.jobs{
    position: absolute;
    justify-content: center;
    background-color: darkslategray;
   color: white;
    margin-left: 300px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-links li {
  margin: 0 10px;
}







